<%= form_for @test, :url => test_submit_path, :method => :POST do |f| %>

<p id="notice"><%= notice %></p>

<b> <font size=3> <%= @test.name %> </font> </b>
<br>

<font size=1 color="gray"> Posted on <%= @test.created_at.strftime("%d %b %y") %> </font>

<p> 
  <font size=1 color="blue">  <%= User.find(@test.user_id).name %> </font>
</p> 


<p>

  <table>
    <thead>
      <tr>
	<th colspan="1"></th>
      </tr>
    </thead>
    
    <tbody>
      <% @test.albums.each do |album| %>     

<table align="center">
      <tr>	
	<td> <img src= <%= album.spotify_uri %> style="width:100px;height:100px;"></td>
      </tr>
</table>

      <tr>
	<% f.label :album_id %>
	<td><font size="1"><%= collection_radio_buttons(album.id, :album_id , album.rand_four, :id, :album_format) %></font></td> <br> <br>

    </tr>
      <% end %> 
    </tbody>
</table>


<p align="center"> <%= f.submit "Submit" %> </p>


<font size=1><%= link_to 'All Tests', tests_path %></font>
</p>
<% end %>
