<p id="notice"><%= notice %></p>

<h1>Listing Songs Tests</h1>

<table>
  <thead>
    <tr>
      <th>Song</th>
      <th>Test</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs_tests.each do |songs_test| %>
      <tr>
        <td><%= songs_test.song %></td>
        <td><%= songs_test.test %></td>
        <td><%= link_to 'Show', songs_test %></td>
        <td><%= link_to 'Edit', edit_songs_test_path(songs_test) %></td>
        <td><%= link_to 'Destroy', songs_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Songs test', new_songs_test_path %>
