<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= @songs_test.song %>
</p>

<p>
  <strong>Test:</strong>
  <%= @songs_test.test %>
</p>

<%= link_to 'Edit', edit_songs_test_path(@songs_test) %> |
<%= link_to 'Back', songs_tests_path %>
