<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <%= @albums_test.album %>
</p>

<p>
  <strong>Test:</strong>
  <%= @albums_test.test %>
</p>

<%= link_to 'Edit', edit_albums_test_path(@albums_test) %> |
<%= link_to 'Back', albums_tests_path %>
